body {
  width: 1440px;
}
.card_wrapper {
  margin-right: 40px;
}
.cart-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 16px;

  width: 386px;
  height: 444px;

  /* --c-white */

  background: #ffffff;
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.img_wrapper {
}
.img_wrapper img {
  width: 354px;
  height: 330px;
  background-color: #e8ecf3;
  /* Inside auto layout */
}
.about_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 354px;
  height: 58px;
}
.card_about {
  width: 354px;
  height: 29px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */

  display: flex;
  align-items: center;

  /* --c-black */

  color: #1d1f22;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.card_price {
  width: 58px;
  height: 29px;

  /* --price-regular-font */

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */

  text-align: right;

  /* --c-black */

  color: #1d1f22;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
